<!-- Modal Diagram-->
<div class="modal" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" chartModal>Diagramas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="chartModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary"   data-dismiss="modal" >Guardar nuevo concepto</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add lessons-->
<div class="modal" id="AddLessonModal" tabindex="-1" role="dialog" aria-labelledby="AddLessonModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddLessonModalHead">Crear Tema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="material-icons">create</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre del concepto">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary"   data-dismiss="modal" >Guardar nuevo tema</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add concept-->
<div class="modal" id="AddConceptModal" tabindex="-1" role="dialog" aria-labelledby="AddConceptModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear concepto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="material-icons">create</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre del concepto">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary"   data-dismiss="modal" >Guardar nuevo concepto</button>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <!-- Row con la barra de busqueda -->
        <div class="row">
            <div class="col-md-12">
                <form class="form col-md-12">
                    <div class="input-group no-border col-md-8">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" id="Lesson1">
                            <div class="card-header card-header-rose" data-header-animation="true">
                                <h4 class="card-title">Tema 1</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-actions">
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" data-toggle="modal" href="#AddConceptModal"
                                            data-target="#AddConceptModal"
                                            title="Añadir concepto">
                                        <i class="material-icons">note_add</i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" title="Eliminar tema">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                                <div class="row">
                                    <p class="card-category">Concepto 1</p>
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" title="Eliminar concepto">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" id="Lesson2">
                            <div class="card-header card-header-rose" data-header-animation="true">
                                <h4 class="card-title">Tema 2</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-actions">
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" data-toggle="modal"
                                            data-target="#AddConceptModal"
                                            title="Añadir concepto">
                                        <i class="material-icons">note_add</i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" title="Eliminar tema">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                                <div class="row">
                                    <p class="card-category">Concepto 1</p>
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" title="Eliminar concepto">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" id="Lesson3">
                            <div class="card-header card-header-rose" data-header-animation="true">
                                <h4 class="card-title">Tema 3</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-actions">
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" data-toggle="modal"
                                            data-target="#AddConceptModal"
                                            title="Añadir concepto">
                                        <i class="material-icons">note_add</i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" title="Eliminar tema">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                                <div class="row">
                                    <p class="card-category">Concepto 1</p>
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" title="Eliminar concepto">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" id="Lesson4">
                            <div class="card-header card-header-rose" data-header-animation="true">
                                <h4 class="card-title">Tema 4</h4>
                            </div>
                            <div class="card-body">
                                <div class="card-actions">
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" data-toggle="modal"
                                            data-target="#AddConceptModal"
                                            title="Añadir concepto">
                                        <i class="material-icons">note_add</i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" title="Eliminar tema">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                                <div class="row">
                                    <p class="card-category">Concepto 1</p>
                                    <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                            data-placement="bottom" title="Eliminar concepto">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-content-center">
                    <button type="submit" class="btn btn-rose btn-round btn-just-icon red" style="margin-left: 47%"
                            data-toggle="modal" href="#AddLessonModal"
                            data-target="#AddLessonModal">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#chartModal">
                    Diagramas <i class="material-icons">signal_cellular_alt</i>
                </button>
            </div>

        </div>
    </div>
</div>