<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://trello.com/b/kwE4oDnN/grupo9-daw">
                        Trello
                    </a>
                </li>
                <li>
                    <a>
                        Grupo 9
                    </a>
                </li>
                <li>
                    <a href="https://docs.google.com/document/d/1eq-zIDgxicw_UoEpP-LEa3dN-9cM59FqMHtBGM7VUPw/edit">
                        Documento
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>
            , made with <i class="material-icons">favorite</i> by
            <a>Grupo 9</a> for a better web.
        </div>
    </div>
</footer>

</html>